.main-channel-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto  2fr; 
  grid-template-rows: auto 1fr auto ;
  background-color: #222629;
  color: lightgray;
}

.main-channel-header { 
  grid-column: 1 / 5;
  grid-row: 1;
  height: 30px;
  border-bottom: 1px black solid;
  background-color: #191a1b;
}

.main-channel-sidenav { 
  grid-column: 1 /2;
  grid-row: 2 / 5;
  min-width: 200px;
  max-width: 250px;
  overflow-y: auto;
  border-right: 1px solid rgba($color: lightgray, $alpha: 0.25);
  display: flex;
  flex-direction: column;
  background-color: #191a1b;
}


.main-channel-message-list { 
  grid-column: 2 / 5;
  overflow-y: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.main-channel-message-input { 
  grid-column: 2 / 5;
  grid-row: 4;
  min-height: 40px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.message-input { 
  border: 1px solid rgba($color: lightgray, $alpha: 0.25);
  border-radius: 5px;
  background-color: #363636;
  min-height: 10px;
  height: 35px;
  width: 90%;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.message-input:focus { 
  border: 1px solid rgba($color: whitesmoke, $alpha: 0.50);
}

.message-button > img { 
  width: 40px;
  height: 40px;
}

.message-button { 
  padding-left: 7px;
  outline: none;
  cursor: pointer;
}
