.main-channel-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto  2fr; 
  grid-template-rows: auto 1fr auto ;
  background-color: #222629;
  color: lightgray;
}

.main-channel-header { 
  grid-column: 1 / 5;
  grid-row: 1;
  height: 30px;
  border-bottom: 1px black solid;
}

.main-channel-sidenav { 
  grid-column: 1 /2;
  grid-row: 2 / 5;
  min-width: 200px;
  max-width: 250px;
  overflow-y: auto;
  border-right: 1px solid rgba($color: lightgray, $alpha: 0.25);
  display: flex;
  flex-direction: column;
}

.sidenav-channels, .sidenav-directmessages{ 
  margin: 5px 0;
}

.channel-header, .directmessage-header { 
  margin: 10px 0;
}

.channel-item-gutter { 
  margin: 5px;
}

.channel-item { 
  padding: 3px 0;
}

.channel-item:hover { 
  background-color: #363636;
  width: 100%;
}
.message-list-header { 
  min-height: 60px;
  height: 60px;
  width: 100%;
  position: fixed;
  border: 1px solid rgba($color: lightgray, $alpha: 0.25);
  background-color: #222629;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  //text-align: center;
}

.main-channel-message-list { 
  grid-column: 2 / 5;
  overflow-y: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  //position: relative;
}

.spacing-div { 
  height: 80px;
}

.message-list-item { 
  //position: relative;
  padding: 10px 10px;

}

.date-tooltip { 
  position: relative;
  display: inline;
}

.date-tooltip .date-tooltip-text { 
  visibility: hidden;
  width: 400px;
  font-size: 14px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px; 
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-top: -200px;

}


.date-tooltip:hover { 
  .date-tooltip-text { 
    visibility: visible;
    transition: 0.5s all ease;
    transition-delay: 0.5s;
  }
}

.main-channel-message-input { 
  grid-column: 2 / 5;
  grid-row: 4;
  min-height: 40px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.message-input { 
  border: 1px solid rgba($color: lightgray, $alpha: 0.25);
  border-radius: 5px;
  background-color: #363636;
  min-height: 10px;
  height: 35px;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  outline: none;
}
.message-input:focus { 
  border: 1px solid rgba($color: whitesmoke, $alpha: 0.50);
}

.message-button > img { 
  width: 40px;
  height: 40px;
}

.message-button { 
  padding-left: 7px;
  outline: none;
  cursor: pointer;
}
