.session-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #062474 1px solid;
  padding: 10px 25px;
  
};

.session-logo-link { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.session-logo { 
  width: 35px;
  height: 35px;
}
.session-logo-text { 
  font-size: 24px;
}

.session-form-body { 
  display: flex;
  margin: 200px;
  width: 500px;
  background-color: green;
}

.session-form { 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  padding: 100px;
  font-size: 12px;
  font-size: bold;
}

.session-input {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
}
.session-button { 
  padding: 12px 16px;
  border: 1px solid #072d91;
  background-color: #072d91;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.session-button:hover { 
  background-color: darken($color: #072d91, $amount: 7%);
  cursor: pointer;
};
.session-button:hover::after { 
  padding: 5px;
  content: '➡';
  font-size: 12px;
}