.sidenav-header { 
  height: 60px;
  width: 100%;
  // position: fixed;
  border-top: 1px solid rgba($color: lightgray, $alpha: 0.25);
  border-bottom: 1px solid rgba($color: lightgray, $alpha: 0.25);
  background-color: #222629;
}


