.splash-header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: #062474 1px solid;
  padding: 5px 25px;
  background: white;
};

.splash-right-nav { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sign-up, .sign-in { 
  margin: 5px; 
}; 

.sign-up { 
  padding: 12px 16px;
  border: 1px solid #072d91;
  background-color: #072d91;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
};

.sign-up:hover { 
  background-color: darken($color: #072d91, $amount: 7%);
};

.sign-in:hover { 
  text-decoration: underline;
  color: darken($color: #0ef8f8, $amount: 15%) 
};

.splash-logo-link { 
  display: flex;
  align-items: baseline;
};

.splash-logo-text { 
  font-size: 30px;
  margin-left: 5px;
};

.splash-logo {
  width: 50px;
  height: 50px;
};

.splash-main { 
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  padding: 5%;
};

.splash-main-left { 
  width: 40%;
  margin-right: 10px;
}

.splash-main-left :first-child { 
  font-size: 24px;
}
.splash-main-left :last-child { 
  font-size: 24px;
}
.splash-main-left h1 { 
  font-size: 50px;
}

.splash-footer { 
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%; 
  bottom: 0;
  background-color: white;
  border-top: 1px solid  #062474;
};

.splash-footer > a { 
  font-size: 40px;
  margin: 5px 20px;
  color: #062474;
}